<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Allada's website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Allada's Database Project</h1>
						<p>This website works as the page which insurence company can use to evaluate <br />which topic causes the highest risk to the customer</p>
					</header>
					<a href="#main" class="button big scrolly">Start Evaluation</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Enter the details about the curstomers previous doctors appointments</h3>
										<input id="text1" placeholder="year">
										<br><br>
										<input id="text2" placeholder="location abbriviation">
										<br><br>
										<input id="text3" placeholder="location">
										<br><br>
										<input id="text4" placeholder="Question to Doctor">
										<br><br>
										<input id="text5" placeholder="DataValueUnit">
										<br><br>
										<input id="text6" placeholder="DataValueType">
										<br><br>
										<input id="text7" placeholder="DataValue">
										<br><br>
										<input id="text8" placeholder="DataValueAlt">
										<br><br>
										<input id="text9" placeholder="StratificationCategory1">
										<br><br>
										<input id="text10" placeholder="Stratification1">
										<br><br>
										<input id="text11" placeholder="QuestionID">
										<br><br>
										<input id="text12" placeholder="DataValueTypeID">
										<br><br>
										<input id="text13" placeholder="StratificationCategoryID1">
										<br><br>
										<input id="text14" placeholder="StratificationID1">
										<br><br>
										<input id="text15" placeholder="Latitude">
										<br><br>
										<button onclick="fn1()" id=" btn1"> Evaluate topic </button>
									
									</div>
								</div>
						</div>
					</section>

				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>